@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  padding: 1rem;
}

body {
  margin: 0;
  color: #333;
  position: relative;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.hoz li {
  display: inline-block;
}

.hoz li:not(:last-of-type) {
  padding-right: 20px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

#quote-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

#quote-box,
#text,
#author,
.buttons {
  padding: 0.8em;
}

#author {
  text-align: right;
  font-weight: 400;
}

.btn {
  padding: 0.8em 1.6em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  outline: none;
  background: #fff;
  color: inherit;
  transition: 200ms;
  font-weight: 100;
  font-size: 0.75rem;
}

.btn:hover,
.btn:focus {
  border-color: #9c88ff;
  color: #9c88ff;
}

.twitter,
.twitter:hover,
.twitter:focus,
.twitter:active {
  color: #1da1f2;
}

.text-center {
  text-align: center;
}

.push-top {
  margin-top: 1em;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #9c88ff;
  transition: 200ms;
}

a:hover,
a:focus,
a:active {
  color: #8c7ae6;
}

.fa-quote-left {
  font-size: 8rem;
  position: absolute;
  transform: rotate(-20deg);
  top: 50px;
  left: -10px;
  color: #8c7ae6;
  opacity: 0.1;
  pointer-events: none;
}
